<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>

    <div id="boek">
        <p>Geef de titel aub.</p>
        <input v-model="titel2">
        <p>Geef de prijs aub.</p>
        <input v-model="prijs">
        <p>Geef het aantal stuks aub.</p>
        <input v-model="aantal">
        <p>Voor {{ aantal }} stuk(s) van het boek {{titel2}}, tegen een kostprijs van {{prijs}}, betaal je {{ aantal *
            prijs }}€</p>


    </div>


    <script>
        const boek = {
            data: function () {


                return {
                    titel2: '',
                    prijs: '',
                    aantal: ''
                }
            }
        }

        Vue.createApp(boek).mount('#boek');

    </script>

</body>

</html>